//Fonts
$copy-font: 'Helvetica', 'Sans-Serif';
$header-font: 'Verdana', 'Sans-Serif';

//Colors
$grey-dark: #333333;
$grey-mid: #666666;
$grey-light: #999999;

$blue-dark: #000033;
$blue-mid: #000066;
$blue-light: #000099;
